@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './utilities.css';

#home {
  background-image: url('ASSETS/images/garden-background.png');
  background-size: contain;
}

@screen md {
  #home {
    background-size: 550px auto;
  }
}
